@charset "UTF-8";
	.placeholder-text {
 		 color: #999;
	}
	.background{
		background-color:#f8f9fa;
		padding: 10px;
		text-align:left; 
		border-radius: 10px;
		text-indent: 10px; /* 왼쪽 들여쓰기를 10픽셀로 설정 */
	}
	.title{
		background-color:rgb(194, 225, 255);
		border-radius: 20px;
	}